<nav class="subnav" [clr-nav-level]="1">
    <ul class="nav">
        <li *ngFor="let subLink of subLinks" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="subLink.link">{{subLink.label}}</a>
        </li>
    </ul>
</nav>


<!--
<ul class="nav">
    <li class="nav-item">
    <a class="nav-link" href="#" [routerLink]="['/home']"
        [class.active]="router.url==='/home' || router.url==='/'">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#" [routerLink]="['/about']" [class.active]="router.url==='/about'">About</a>
    </li>
</ul>
-->
