<div class="row">
    <div class="col-xs-9">
        <button type="submit" class="btn btn-primary">ADD</button>
        <clr-datagrid>
            <clr-dg-column>ID</clr-dg-column>
            <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
            <clr-dg-column [clrDgField]="'number'">Number</clr-dg-column>
            <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
            <clr-dg-placeholder>We couldn't find any regions!</clr-dg-placeholder>
            <clr-dg-row *clrDgItems="let item of items" [clrDgItem]="item">
                <clr-dg-cell>{{item.id}}</clr-dg-cell>
                <clr-dg-cell>{{item.name}}</clr-dg-cell>
                <clr-dg-cell>{{item.number}}</clr-dg-cell>
                <clr-dg-cell>{{item.description}}</clr-dg-cell>
                <clr-dg-action-overflow>
                    <button class="action-item" (click)="onEdit(user)">Edit</button>
                    <button class="action-item" (click)="onDelete(user)">Delete</button>
                </clr-dg-action-overflow>
            </clr-dg-row>
            <clr-dg-footer>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} users
                <clr-dg-pagination #pagination [clrDgPageSize]="3"></clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
    <div class="col-xs-3">
        <app-datagrid-settings numberField="regions"></app-datagrid-settings>
    </div>
</div>