<h2>{{editing  ? "Edit" : "Create"}} Region</h2>
<form novalidate #form="ngForm" (ngSubmit)="submitForm(form)" (reset)="resetForm()" >
    <button type="submit" class="btn btn-primary" 
            [class.btn-warning]="editing" [disabled]="form.invalid">
        {{editing ? "Save" : "Create"}}
    </button>
    <button type="reset" class="btn btn-secondary" routerLink="/organization/region">Cancel</button>
    <clr-tabs (clrTabsCurrentTabLinkChanged)="onTabSelected($event)"
            (clrTabsCurrentTabIndexChanged)="onTabIndexChanged($event)"
            (clrTabsCurrentTabContentChanged)="onTabContentActivated($event)">
        <clr-tab-link [clrTabLinkId]="'link1'" [clrTabLinkActive]="true">Main</clr-tab-link>
        <clr-tab-link>Users</clr-tab-link>
        <clr-tab-link>Additional</clr-tab-link>

        <clr-tab-content [clrTabContentId]="'content1'" [clrTabContentActive]="true">
            <section class="form-block">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" [(ngModel)]="region.name" required />
                </div>
                <div class="form-group">
                    <label>Number</label>
                    <input type="text" name="number" [(ngModel)]="region.number" required />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" name="description" [(ngModel)]="region.description" size="90" />
                </div>
            </section>
        </clr-tab-content>
        <clr-tab-content>
            <p>Content for Users tab.</p>
        </clr-tab-content>
        <clr-tab-content>
            <p>Content for Additionsl tab.</p>
        </clr-tab-content>
    </clr-tabs>
</form>

